<!-- Including header template -->
<%- include("templates/header") %>

<!-- Styling Section -->
<style>
  /* Styles for the content wrapper, h1, h2, p and custom list group items */
  .content-wrapper {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 15px;
  }

  h1 {
    font-size: 2rem;
    font-weight: 700;
  }

  h2 {
    font-weight: 700;
  }

  p {
    font-size: 1.2rem;
  }

  .list-group-item-custom {
    background-color: rgba(255, 204, 0, 0.5);
  }
</style>

<!-- Main content -->
<div class="container mt-4">
  <div class="content-wrapper">
    <!-- Displaying bookmark title -->
    <h1 class="mb-4"><%= bookmark.title %></h1>

    <!-- Displaying bookmark ingredients -->
    <h2>Ingredients</h2>
    <ul class="list-group instructions-list">
      <% 
        if (typeof bookmark.ingredients === 'string') {
          const ingredients = bookmark.ingredients.split(', ');
          ingredients.forEach(ingredient => {
            %>
              <li class="list-group-item list-group-item-custom"><%= ingredient.trim() %></li>
            <%
          });
        } else if (Array.isArray(bookmark.ingredients)) {
          bookmark.ingredients.forEach(ingredient => {
            %>
              <li class="list-group-item list-group-item-custom"><%= ingredient.trim() %></li>
            <%
          });
        }
      %>
    </ul>

    <!-- Displaying bookmark instructions -->
    <h2>Instructions</h2>
    <ol class="list-group instructions-list">
      <% 
        if (typeof bookmark.instructions === 'string') {
          const instructions = bookmark.instructions.split('.,');
          instructions.forEach(instruction => {
            %>
              <li class="list-group-item list-group-item-custom"><%= instruction %></li>
            <%
          });
        } else if (Array.isArray(bookmark.instructions)) {
          bookmark.instructions.forEach((instruction, index) => {
            %>
              <li class="list-group-item list-group-item-custom"><%= index + 1 %>. <%= instruction %></li>
            <%
          });
        }
      %>
    </ol>
  </div>
</div>

<!-- Including footer template -->
<%- include("templates/footer") %>
