<%- include("templates/header") %>

<style>

  .content-wrapper {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 15px;
    margin: 10px;
  }

  h2 {
    font-weight: 700;
  }

  ol li {
    margin-bottom: 10px;
  }

  .delete-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 3px 6px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
  }

  .delete-button:hover {
    background-color: #c82333;
  }
</style>

<div id="loading-spinner" style="display: none;">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<script src="/path/to/spinner.js"></script>

<div class="container mt-4">
  <div class="content-wrapper">  
    <h2>Bookmarks List</h2>

    <% if (bookmarks.length > 0) { %>
      <% for (let bookmark of bookmarks) { %>
        <div class="content-wrapper">
          <h4 class="mb-1">
            <b>
              <a class="bookmark-link" href="/bookmarks_page/<%= bookmark.title %>">
                <%= bookmark.title %>
              </a>
              <button class="delete-button" onclick="deleteBookmark('<%= bookmark.title %>')">Delete</button>
            </b>
          </h4>
        </div>
      <% } %>
    <% } else { %>
      <p>No bookmarks found.</p>
    <% } %>  
  </div>
</div>

<%- include("templates/footer") %>

<script>
  function deleteBookmark(title) {
    const confirmation = confirm("Are you sure you want to delete this bookmark?");
    if (confirmation) {
      fetch('/bookmarks/remove', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ title }),
      })
      .then(response => {
        if (response.ok) {
          console.log('Bookmark deleted successfully.');
          location.reload(); 
        } else {
          console.error('Error deleting bookmark.');
        }
      })
      .catch(error => {
        console.error(error);
      });
    }
  }
</script>
