<!-- Including header template -->
<%- include("templates/header") %>

<!-- CSS Styling -->
<style>
  .content-wrapper {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 15px;
  }

  h1 {
    font-size: 2rem;
    font-weight: 700;
  }

  h2 {
    font-weight: 700;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  .list-group-item-custom {
    background-color: rgba(255, 204, 0, 0.5);
  }
</style>

<div class="container mt-4">
  <div class="content-wrapper">
    <h2>Shopping List</h2>
    <% if (shoppinglist.length > 0) { %>
      <ul class="list-group instructions-list">
        <% for (let item of shoppinglist) { %>
          <div class="title" data-title="<%= item.title %>">
            <br>
            <h4>For '<%= item.title %>'</h4>
            <button class="delete-button" onclick="deleteList('<%= item.title %>')"> - </button>
          </div>
          
          <% if (item.ingredients) { %>
            <% const ingredientsArray = item.ingredients.split('\n'); %>
            <% for (let ingredient of ingredientsArray) { %>
              <% const words = ingredient.trim().split(' '); %>
              <% if (words.length !== 1 && !words[0].includes('ed') && !words[1].includes('ed')) { %>
                <li class="list-group-item list-group-item-custom">
                  <%= ingredient %>
                </li>
              <% } %>
            <% } %>
          <% } %>
        <% } %>
        <br><br>
      </ul>
    <% } else { %>
      <p>No lists found.</p>
    <% } %>
  </div>
</div>

<!-- Include footer template -->
<%- include("templates/footer") %>

<script>
// Function to delete a shopping list
function deleteList(title) {
  // Display a confirmation dialog to confirm deletion
  const confirmation = confirm("Are you sure you want to delete this list?");
  if (confirmation) {
    // Send a POST request to the server to delete the list
    fetch('/shoppingList/delete', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ title }),
    })
    .then(response => {
      if (response.ok) {
        console.log('List deleted successfully.');
        // Set a flag in local storage to indicate that the list was deleted
        localStorage.setItem('listDeleted', 'true');
    
        // Remove the deleted list from the UI
        location.reload();
      } else {
        console.error('Error deleting list.');
      }
    })
    .catch(error => {
      console.error(error);
    });
  }
}
</script> 